{% extends 'base.html.j2' %}


{% block obsah %}

<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta adipisci eius cum debitis. Quidem dignissimos odio eveniet nulla ducimus veritatis voluptates optio, similique sunt fugiat corporis non vel fugit autem.
</p>  

<p>{{ 15789+65478 }}</p>

<p>{{ 2**128 }}</p>

<p>{{ pi }} {{odmocnina}} </p>

<p><strong>{{ session.get('susenka') }}</strong></p>

{% if 'user' in session %}
  <p>Jsi přihlášen jako <strong>{{ session.get('user') }}</strong></p>
  <p>Odhlas se <a href="{{ url_for('logout') }}">ZDE</a>.</p>
{% else %}
<form method='post'>
  <p>
    jmeno: <br>
    <input type="text" name="jmeno"> <br>
  </p>
  <p>
    heslo: <br>
    <input type="password" name="heslo">
  </p>
  <p>
    <input type="submit">
  </p>
</form>
{% endif %}



{% endblock obsah %}