{% extends 'base.html.j2' %}


{% block obsah %}

<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta adipisci eius cum debitis. Quidem dignissimos odio eveniet nulla ducimus veritatis voluptates optio, similique sunt fugiat corporis non vel fugit autem.
</p>  

<p>{{ 15789+65478 }}</p>

<p>{{ 2**128 }}</p>

<p>{{ pi }} {{odmocnina}} </p>


{% endblock obsah %}